.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    margin-bottom: 24px;
}

.stat-card {
    background: #fff;
    border-radius: 14px;

    padding: 18px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 115px;

    border-left: 4px solid #4F46E5;

    box-shadow: 0 2px 10px rgba(0,0,0,.05);

    transition: all .25s ease;
}

.stat-card:hover{
    transform: translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.stat-left h6{

    margin:0 0 8px;

    color:#6B7280;

    font-size:15px;

    font-weight:500;
}

.stat-left h2{

    margin:0;

    font-size:22px;

    font-weight:700;

    color:#111827;
}

.stat-icon{

    width:52px;
    height:52px;

    border-radius:14px;

    display:flex;
    align-items:center;
    justify-content:center;
}

.stat-icon i{

    font-size:22px;
}